body {
    background-color: rgb(250, 159, 202);
}
footer {
    background-color: rgba(245, 55, 169, 0.893);
    color: white;
     bottom:0;
    position:fixed;
    width:100%;
}
footer p{
    text-align: center;
    font-size: 0.6rem;
    height:2rem;
}